





@keyframes down {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes up {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateX(0);
    }
}

.service1 {
    animation: down;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.service2 {
    animation: up;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.service1, .service2{
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}




  h2 {
    color:  #14FFEC;
  }
.serv1, .serv2, .serv3 {
    margin: 10px 20px;
    width: 270px;
    height: auto;
    padding: 5px;
    background-color: #323232;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #0D7377;
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;

}

.serv1:hover, .serv2:hover, .serv3:hover {

    box-shadow: 2px 2px 5px #14FFEC; 
    color: #14FFEC;
    animation-name: moving;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;       

}

.s {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    color:#0D7377;
    text-shadow: 1px 1px 2px #14FFEC ;
    letter-spacing: 12px;
}

p {
    margin: 10px;
}

i:hover {
    animation: rotation 4s infinite linear;
}

