


.contact-box {
    margin: 10px 20px;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #323232;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #0D7377;
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    word-break: break-word;
    
}

.contact-box:hover {

    box-shadow: 2px 2px 5px #14FFEC; 
    color: #14FFEC;
    animation-name: moving;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;       
    
}

.service2 > img {
    width: 200px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.service2 > img:hover {
    box-shadow: 2px 2px 10px #14FFEC; 
    animation-name: moving;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

footer {
    margin-bottom: 20px;
}