*::-webkit-scrollbar {
    width: 11px;
  }

 

  *::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 10px;
   
  }

body {
    padding: 0;
    margin: 0;
    background-color: #212121;
    color: #14FFEC;
    overflow-x: hidden;
}




 a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#0D7377;
}





.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    font-family: 'Michroma', sans-serif;
    
}

.nav-list {
    margin-top: 20px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    font-size: 20px;
}

.ivan-gif {
    margin: 100px 200px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

@keyframes moving-hel {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translatex(0);
    }
}

.hello {
    font-family: 'Michroma', sans-serif;
    font-size: x-large;
    letter-spacing: 1em;
    position: absolute;
    margin-left: 46rem;
    margin-top: 10rem;
    color: #0D7377;
    text-shadow: 1px 1px 2px #14FFEC ;
    animation: moving-hel 2s;
}

@keyframes moving-int {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translatex(0);
    }
}

.intro {
    font-family: 'Michroma', sans-serif;
    color: #0D7377;
    font-size: large;
    align-self: center;
    margin-top: 120px;
    margin-left: -30px;
    letter-spacing: .5px;
    animation: moving-int 2s;

}



@keyframes moving {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateX(0);
    }
}



.ivan {
    animation-name: moving;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
   
}

footer {
    text-align: center;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.fot {
    margin: 0 30px;
    width: 40px;
    animation: rotation 8s infinite linear;
}

.fot:hover {
    animation-duration: 1s;
}

.logs {
    position: fixed;
    margin-top: -52%;
    margin-left: 92%;
    margin-right: -80px;
    width: 250px;
}


@keyframes blinker {
    from {
      color: #323232;
    }
    to {
     color:  #14FFEC;
    }
  }

  .sh {
    animation: blinker 1.5s infinite;
}


 @media only screen and (max-width: 1664px) {

    .intro {
        margin-left: 500px;
        margin-top: 20px;
        
    }


    .ivan {
        width: 500px;

    }
    
    .ivan-gif {
        margin: 50px 200px;
    }

    .hello {
        margin-left: 37rem;
        margin-top: 4rem;
        
    
    }

    .intro {
        margin-left: -20px;
        margin-top: 250px;
        
    }

    footer {
        margin-top: 70px ;
    }

    .nav-list {
        margin-left: 200px;
    }
    
 
}

@media only screen and (max-width: 1476px) {

    

    .ivan-gif {
        margin: 50px 130px;
    }

  
    

}

@media only screen and (max-width: 1376px) {

    

    .ivan-gif {
        margin: 50px 90px;
    }

  
    

}

@media only screen and (max-width: 1256px) {

    

    .ivan-gif {
        margin: 50px 60px;
    }

 
}



/* @media only screen and (max-width: 1662px) {

    .ivan-gif {
        margin: 50px 200px;
    }

    .intro {
        margin-left: 500px;
        margin-top: 20px;
        
    }
    
}

@media only screen and (max-width: 1540px) {
    .intro {
        margin-left: 500px;
        margin-top: 20px;
        
    }


    .ivan {
        width: 500px;

    }
    
    .ivan-gif {
        margin: 50px 200px;
    }

    .hello {
        margin-left: 37rem;
        margin-top: 4rem;
        
    
    }

    .intro {
        margin-left: -20px;
        margin-top: 250px;
        
    }

    footer {
        margin-top: 70px ;
    }

    .nav-list {
        margin-left: 200px;
    }
    
}

@media only screen and (max-width: 1476px) {
    .intro {
        margin-left: 500px;
        margin-top: 20px;
        
    }


    .ivan {
        width: 500px;

    }
    
    .ivan-gif {
        margin: 50px 150px;
    }

    .hello {
        margin-left: 37rem;
        margin-top: 4rem;
        
    
    }

    .intro {
        margin-left: -20px;
        margin-top: 250px;
        
    }

    footer {
        margin-top: 70px ;
    }

    .nav-list {
        margin-left: 200px;
    }
    
} */

@media only screen and (max-width: 1214px) {
    .nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        align-content: center;

    }

    .nav-list {
        flex-direction: column;
        margin: 0 100px;
        justify-content: space-around;
        height: 200px;
    }



    .ivan {
        width: 600px;

    }
    
    .ivan-gif {
        margin: 50px 200px;
    }

    .hello {
        margin-left: 40rem;
        margin-top: 10rem;
        
    
    }

    .intro {
        margin-left: 300px;
        margin-top: 20px;
        
    }
  }

  @media only screen and (max-width: 1100px) {
    .ivan-gif {
        margin: 50px 100px;
    }

    .hello {
        margin-left: 34rem;
        margin-top: 10rem;
        
    
    }
    .intro {
        margin-left: 200px;
        margin-top: 20px;
        
    }
  }

  @media only screen and (max-width: 989px) {

    .ivan {
        width: 500px;

    }
    .ivan-gif {
        margin: 50px 70px;
    }

    .hello {
        margin-left: 27rem;
        margin-top: 10rem;
        
    
    }

    .intro {
        margin-left: 150px;
        margin-top: 20px;
        
    }
  }

  @media only screen and (max-width: 851px) {

    .ivan {
        width: 500px;

    }
    .ivan-gif {
        margin: 50px 20px;
    }

    .hello {
        margin-left: 3rem;
        margin-top: 22rem;
    }

    .intro {
        margin-left: 50px;
        margin-top: 80px;
        
    }

    
  }

 @media only screen and (max-width: 420px) {

    .ivan {
        width: 350px;

    }
    .ivan-gif {
        margin: 50px 20px;
    }

    .hello {
        margin-left: 3rem;
        margin-top: 20rem;
        font-size: small;
    }

    .intro {
        margin-left: 50px;
        margin-top: 80px;
        
    }

    
  }
